# Fastify Backend Service URL (proxied in development and production)
BACKEND_URL="http://localhost:4000"

# Frontend Server Port
PORT=3000

# Environment Mode (development | production)
NODE_ENV="development"
